@media print {
    @page {
        size: A4 !important;
        margin-left: 0cm !important;
        margin-right: 0cm !important;
    }

    .container {
        width: 100% !important;
    }

    .img-accessories {
        padding: 2px !important;
    }

    .border-box-accessories {
        border: 0px !important;
    }

    .col-2-accessories {
        border: 1px solid black !important;
    }

    
}