@media print {
    .btn {
        display: none !important;
    }

    .container {
        margin: 5px !important;
    }

    .container {
        width: 100%;
    }

    .ptk-font-header {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 18pt !important;
        font-family: 'TH Sarabun', 'Krabi', 'sans-serif' !important;
        font-weight: bold !important;
    }

    .ptk-font-accessories {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 15pt !important;
        font-family: 'TH Sarabun', 'Krabi', 'sans-serif' !important;
        font-weight: bold !important;
    }

    .ptk-font-text-accessories {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 12pt !important;
        font-family: 'TH Sarabun', 'Krabi', 'sans-serif' !important;
    }

    .ptk-font-description {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 15pt !important;
        font-family: 'TH Sarabun', 'Krabi', 'sans-serif' !important;
        font-weight: bold !important;
    }

    .ptk-text-description {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 14pt !important;
        font-family: 'TH Sarabun', 'Krabi', 'sans-serif' !important;
        font-weight: bold !important;
    }
    
    .ptk-text-detail {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 13pt !important;
        font-family: 'TH Sarabun', 'Krabi', 'sans-serif' !important;
    }
}

@font-face {
    font-family: 'TH Sarabun' !important;
    src: url('/font/THsarabun/THSarabun.ttf') format('truetype') !important;
}

.ptk-font-header {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 18pt !important;
    font-family: 'TH Sarabun', 'Krabi', 'sans-serif' !important;
    font-weight: bold !important;
}

.ptk-img-width {
    width: 100% !important;
    height: 100% !important;
}

.ptk-font-accessories {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 15pt !important;
    font-family: 'TH Sarabun', 'Krabi', 'sans-serif' !important;
    font-weight: bold !important;
}

.ptk-col-2-accessories {
    flex: 0 0 auto !important;
    width: 16.66666666666667% !important;
}

.ptk-img-accessories {
    width: 100% !important;
    height: 100% !important;
}

.ptk-font-text-accessories {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 12pt !important;
    font-family: 'TH Sarabun', 'Krabi', 'sans-serif' !important;
}

.ptk-border-box-accessories {
    margin: 0 !important;
    padding: 0 !important;
    border-right: 1px solid rgb(22, 22, 22) !important;
    border-bottom: 1px solid rgb(22, 22, 22) !important;
}

.ptk-border-top {
    margin: 0 !important;
    padding: 0 !important;
    border-top: 1px solid rgb(22, 22, 22) !important;
}

.ptk-border-left {
    margin: 0 !important;
    padding: 0 !important;
    border-left: 1px solid rgb(22, 22, 22) !important;
}

.ptk-font-description {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 15pt !important;
    font-family: 'TH Sarabun', 'Krabi', 'sans-serif' !important;
    font-weight: bold !important;
}

.ptk-line-header {
    margin: 0 !important;
    padding: 0 !important;
    border-bottom: 1px solid rgb(22, 22, 22) !important;
}

.ptk-line-description {
    margin: 0 !important;
    padding: 0 !important;
    border-bottom: 1px solid rgb(22, 22, 22) !important;
}

.ptk-text-description {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 14pt !important;
    font-family: 'TH Sarabun', 'Krabi', 'sans-serif' !important;
    font-weight: bold !important;
}

.ptk-text-detail {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 13pt !important;
    font-family: 'TH Sarabun', 'Krabi', 'sans-serif' !important;
}